<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Zinake</title>
    @Styles.Render("~/Scripts/CSS/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <!-- Footer -->
        <footer class="footer-bottom">
            <div class="footer-inner-alternative">
                <div class="row">

                    <!-- Left -->
                    <div class="col-sm-8 col-md-7 col-lg-8">
                        <div class="title">Mwalimu Online</div>
                        <div class="subtitle"> ICT Solutiion.</div>
                    </div>
                    <!-- Left -->
                    <!-- Right -->
                    <div class="col-sm-4 col-md-5 col-lg-4 right-footer">
                        <div class="right-footer-container">
                            <span class="copyright">&copy; @DateTime.Now.Year  Zinake Portal</span>
                            <span class="separator"></span>
                            <ul class="social-list">
                                <li><a class="no-dev" href="https://www.facebook.com/miyabiafrica/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a class="no-dev" href="https://twitter.com/miyabiafrica" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                                <li><a class="no-dev" href="" target="_blank"><i class="fas fa-envelope-square"></i></a></li>
                                <li><a class="no-dev" href="" target="_blank"><i class="fas fa-phone-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Right -->

                </div>
            </div>
        </footer>
        <!-- Footer -->
    </div>

    @Scripts.Render("~/Scripts/ScrollMagic/js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
